{% block css %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock css %}
{% load static %}
<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <!-- Dark Logo-->
        <a href="index.html" class="logo logo-dark">
            <span class="logo-sm">
                <img src="assets/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="assets/images/logo-dark.png" alt="" height="17">
            </span>
        </a>
        <!-- Light Logo-->
        <a href="" class="logo logo-light">
            <span class="logo-sm">
				<!-- <img src="{% static 'dashboard/custom_image/agua_no_bg.png' %}" alt="" height="22"> -->
			</span>
			<span class="logo-lg">
				<!-- <img src="{% static 'dashboard/custom_image/agua_no_bg.png' %}" alt="" height="40"> -->
			</span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
   
        <!-- Sidebar -->
       
        <div class="container-fluid">
            <div id="two-column-menu">
                <!-- Content for two-column menu if needed -->
            </div>
        
            <ul class="navbar-nav" id="navbar-nav">
                <!-- Start Dashboard Menu -->
                <li class="menu-title"><span data-key="t-menu">Dashboard</span></li>
        
                <li class="nav-item">
                    <a class="nav-link menu-link" href="{% url 'dashboard-home' %}" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                        <i class="bx bxs-home"></i> <span data-key="t-dashboards">Home</span>
                    </a>
                </li>
                <li class="menu-title"><span data-key="t-menu">Content</span></li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="{% url 'dashboard-batch' %}" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                        <i class="bx bxs-grid"></i>
                         <span data-key="t-dashboards">Batch</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="{% url 'dashboard-course' %}" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                        <i class="bx bxs-graduation"></i>
                    </i> <span data-key="t-dashboards">Course</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="{% url 'dashboard-subject' %}" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                        <i class="bx bxs-book"></i>

                         <span data-key="t-dashboards">Subject</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="{% url 'dashboard-chapter' %}" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                        <i class="bx bxs-book-content"></i>


                         <span data-key="t-dashboards">Chapter</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="{% url 'dashboard-lesson' %}" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                        <i class="bx bxs-book-bookmark"></i>
                            
                         <span data-key="t-dashboards">Lesson</span>
                    </a>
                </li>
               
               
                <li class="nav-item">
                   
                    </a>
                </li>
                <li class="menu-title"><span data-key="t-menu">Customer Management</span></li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="{% url 'dashboard-customer' %}" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                        <i class="bx bxs-user"></i> <span data-key="t-dashboards">Customer</span>
                    </a>
                </li>
                <li class="menu-title"><span data-key="t-menu">Exam Management</span></li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="{% url 'dashboard-exam-manager' %}" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                        <i class="fas fa-pencil-alt"></i>

                        <span data-key="t-dashboards">Exam</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="{% url 'dashboard-talenthunt-manager' %}" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                        <i class="fas fa-trophy"></i>

                        <span data-key="t-dashboards">Talent Hunt</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="{% url 'dashboard-schedule-manager' %}" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                        <i class="fas fa-clock"></i>

                        <span data-key="t-dashboards">Schedule</span>
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link menu-link" href="{% url 'dashboard-question-manager' %}" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                        <i class="fas fa-file-alt"></i>
                        <span data-key="t-dashboards">Question</span>
                    </a>
                </li> -->
                <li class="menu-title"><span data-key="t-menu">Staff Management</span></li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="{% url 'dashboard-staff-manager' %}" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                        <i class="fas fa-user-tie"></i>
                        <span data-key="t-dashboards">Staff</span>
                    </a>
                </li>

            </ul>
        </div>
        
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.nav-link').forEach(function(link) {
            link.addEventListener('click', function(event) {
                if (link.getAttribute('href') === "#" || link.getAttribute('href') === "") {
                    event.preventDefault();
                }
            });
        });
    });
</script>



