{% load static %}
<div class="app-menu navbar-menu">
	<!-- LOGO -->
	<div class="navbar-brand-box">
		<!-- Dark Logo-->
		<a href="{% url 'dashboard-home' %}" class="logo logo-light">
			<span class="logo-sm">
				<img src="{% static 'dashboard/custom_image/agua_no_bg.png' %}" alt="" height="22">
			</span>
			<span class="logo-lg">
				<img src="{% static 'dashboard/custom_image/agua_no_bg.png' %}" alt="" height="40">
			</span>
		</a>
		<button
				type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover"
				id="vertical-hover">
			<i class="ri-record-circle-line"></i>
		</button>
	</div>

	<div id="scrollbar">
		<div class="container-fluid">

			<div id="two-column-menu"></div>

			<ul class="navbar-nav" id="navbar-nav">

				<li class="menu-title"><span data-key="t-dashboard">Dashboard</span></li>
				<li class="nav-item">
					<a
							class="nav-link menu-link{% if request.path == "/" %}active{% endif %}"
							href="{% url 'dashboard-home' %}">
						<i class="mdi mdi-home"></i> <span data-key="t-dashboard">Home</span>
					</a>
				</li>
				
				<!--=================== USERS ===================-->
				{% if request.user.is_superuser or request.user.user_type == 1 or request.user.user_type == 5 or request.user.user_type == 6 or request.user.user_type == 7 %}
				<li class="menu-title"><i class="ri-more-fill"></i><span data-key="t-user">Users</span></li>
				{% if request.user.is_superuser or request.user.user_type == 1 %}
				<li class="nav-item">
					<a
							class="nav-link menu-link
                        {% if request.path == "/customer/manager/" %}active
                        {% elif request.path == "/customers/" %}active
                        {% elif request.path == "/customer/view/" %}active
                        {% elif request.path == "/customer/add/" %}active
                        {% elif request.path == "/customer/update/" %}active
                        {% elif request.path == "/customer/delete/" %}active{% endif %}"
							href="{% url 'dashboard-staff-manager' %}">
						<i class="mdi mdi-account-box"></i> <span data-key="t-user">Manage Staffs</span>
					</a>
				</li>
				{% endif %}
				{% if request.user.is_superuser or request.user.user_type == 1 or request.user.user_type == 6 or request.user.user_type == 7 %}

				<li class="nav-item">
					<a
							class="nav-link menu-link
                        {% if request.path == "/customer/manager/" %}active
                        {% elif request.path == "/customers/" %}active
                        {% elif request.path == "/customer/view/" %}active
                        {% elif request.path == "/customer/add/" %}active
                        {% elif request.path == "/customer/update/" %}active
                        {% elif request.path == "/customer/delete/" %}active{% endif %}"
							href="{% url 'dashboard-customer-manager' %}">
						<i class="mdi mdi-account-box"></i> <span data-key="t-user">Manage Customers</span>
					</a>
				</li>
				{% endif %}
				{% if request.user.is_superuser or request.user.user_type == 1 or request.user.user_type == 5%}
				
				<li class="nav-item">
					<a
							class="nav-link menu-link
                    {% if request.path == "/vendor/manager/" %}active
                    {% elif request.path == "/vendors/" %}active
                    {% elif request.path == "/vendor/add/" %}active
                    {% elif request.path == "/vendor/update/" %}active
                    {% elif request.path == "/vendor/view/" %}active
                    {% elif request.path == "/vendor/delete/" %}active{% endif %}"
							href="{% url 'dashboard-vendor-manager' %}">
						<i class="mdi mdi-shopping"></i> <span data-key="t-vendors">Manage Vendors</span>
					</a>
				</li>
				<li class="nav-item">
					<a
							class="nav-link menu-link {% if "/vendor/driver/" in request.path %}active{% endif %} "
							href="{% url 'dashboard-vendor-driver-manager' %}">
						<i class="mdi mdi-truck-delivery"></i> <span data-key="t-vendors">Manage Driver</span>
					</a>
				</li>
				{% endif %}
				{% if request.user.is_superuser or request.user.user_type == 1 %}

					<li class="nav-item">
						<a
								class="nav-link menu-link{% if request.path == "/superuser/user/manager/" %}active{% endif %}"
								href="{% url 'dashboard-superuser-user-manager' %}">
							<i class="mdi mdi-account"></i> <span data-key="t-dashboard">Manage Users</span>
						</a>
					</li>
				{% endif %}
				{% endif %}
				
				<!--=================== ORDERS ===================-->

				{% if request.user.is_superuser or request.user.user_type == 1 or request.user.user_type == 6 %}

				<li class="menu-title"><i class="ri-more-fill"></i><span data-key="t-user">Orders</span></li>
				<li class="nav-item">
					<a
							class="nav-link menu-link
                        {% if request.path == "/order/manager/" %}active
                        {% elif request.path == "/order/user_cart/user_search/" %}active
                        {% elif request.path == "/order/user_cart/" %}active
                        {% elif request.path == "/order/add_user_cart/" %}active
                        {% elif request.path == "/order/cart_checkout/" %}active
                        {% elif request.path == "/order/user_cart/address/add/" %}active
                        {% elif request.path == "/order/user_cart/address/edit/" %}active
                        {% elif request.path == "/order/user_cart/address/delete/" %}active
                        {% elif request.path == "/order/user_cart/address/default/" %}active{% endif %}"
							href="{% url 'dashboard-order-manager' %}?page=1&type=all&search=&paginator_count=25">
						<i class="mdi mdi-cart"></i> <span data-key="t-order">Manage Orders</span>
					</a>
				</li>
				<li class="nav-item">
					<a
							class="nav-link menu-link {% if request.path == "/not/confirmed/order/manager/" %}active{% endif %}"
							href="{% url 'dashboard-not-confirmed-order-manager' %}">
						<i class="mdi mdi-alert-outline"></i> <span data-key="t-order">Not Confirmed Orders</span>
					</a>
				</li>
				<li class="nav-item">
					<a
							class="nav-link menu-link {% if request.path == "/shipment/manager/" %}active{% endif %}"
							href="{% url 'dashboard-shipment-manager' %}?page=1&type=all&search=&paginator_count=25">
						<i class="mdi mdi-truck-delivery"></i> <span data-key="t-order">Manage Shipments</span>
					</a>
				</li>
				<li class="nav-item">
					<a
							class="nav-link menu-link {% if request.path == "/purchase/shipment/manager/" %}active{% endif %}"
							href="{% url 'dashboard-shipment-purchase-manager' %}">
						<i class="mdi mdi-package-variant"></i> <span
							data-key="t-order">Manage New Shipments</span>
					</a>
				</li>
				<li class="nav-item">
					<a
							class="nav-link menu-link {% if request.path == "/purchase/refill/manager/" %}active{% endif %}"
							href="{% url 'dashboard-shipment-refill-manager' %}">
						<i class="mdi mdi mdi-refresh"></i> <span
							data-key="t-order">Manage Refill Shipments</span>
					</a>
				</li>
				<li class="nav-item">

					<a
							class="nav-link menu-link {% if request.path == "/voucher/order/manager/" %}active{% endif %}"
							href="{% url 'dashboard-voucher-order-manager' %}">
						<i class="mdi mdi-cart-variant"></i> <span data-key="t-order">Manage Voucher Orders</span>
					</a>
				</li>
				<li class="nav-item">
					<a
							class="nav-link menu-link {% if request.path == "/water/tanker/manager/" %}active{% endif %}"
							href="{% url 'dashboard-water-tanker-manager' %}">
						<i class="mdi mdi-truck-cargo-container"></i> <span
							data-key="t-order">Manage Water Tanker Requests</span>
					</a>
				</li>
				<li class="nav-item">
					<a
							class="nav-link menu-link {% if request.path == "/water/tanker/manager/" %}active{% endif %}"
							href="#" id="waterBank">
						<i class="mdi mdi-truck-cargo-container"></i> <span
							data-key="t-order">Manage Water Bank Requests</span>
					</a>
				</li>
				<li class="nav-item">
					<a
							class="nav-link menu-link {% if request.path == "/water/tanker/manager/" %}active{% endif %}"
							href="#" id="waterTesting">
						<i class="mdi mdi-truck-cargo-container"></i> <span
							data-key="t-order">Manage Water Testing Requests</span>
					</a>
				</li>
				{% endif %}
				<!--=================== JAR SUBSCRIPTIONS ===================-->
				{% if request.user.is_superuser or request.user.user_type == 1 or request.user.user_type == 6 %}

				<li class="menu-title"><i class="ri-more-fill"></i><span data-key="t-order">Jar Subscriptions</span></li>
				<li class="nav-item">
					<a
							class="nav-link menu-link
                        {% if request.path == "/order/manager/" %}active
                        {% elif request.path == "/order/user_cart/user_search/" %}active
                        {% elif request.path == "/order/user_cart/" %}active
                        {% elif request.path == "/order/add_user_cart/" %}active
                        {% elif request.path == "/order/cart_checkout/" %}active
                        {% elif request.path == "/order/user_cart/address/add/" %}active
                        {% elif request.path == "/order/user_cart/address/edit/" %}active
                        {% elif request.path == "/order/user_cart/address/delete/" %}active
                        {% elif request.path == "/order/user_cart/address/default/" %}active{% endif %}"
							href="{% url 'water-subscription-manager' %}?status=1,2&page=1&type=all&search=&paginator_count=25&region=all">
						<i class="mdi mdi-cart"></i> <span data-key="t-order">New Subscriptions</span>
					</a>
				</li>
				<li class="nav-item">
					<a
							class="nav-link menu-link
                        {% if request.path == "/order/manager/" %}active
                        {% elif request.path == "/order/user_cart/user_search/" %}active
                        {% elif request.path == "/order/user_cart/" %}active
                        {% elif request.path == "/order/add_user_cart/" %}active
                        {% elif request.path == "/order/cart_checkout/" %}active
                        {% elif request.path == "/order/user_cart/address/add/" %}active
                        {% elif request.path == "/order/user_cart/address/edit/" %}active
                        {% elif request.path == "/order/user_cart/address/delete/" %}active
                        {% elif request.path == "/order/user_cart/address/default/" %}active{% endif %}"
						href="{% url 'water-subscription-manager' %}?status=3,4,5&page=1&type=all&search=&paginator_count=25&region=all">
						<i class="mdi mdi-cart"></i> <span data-key="t-order">Jar Subscriptions</span>
					</a>
				</li>
				{% endif %}
				<!--=================== PRODUCTS ===================-->
				{% if request.user.is_superuser or request.user.user_type == 1 or request.user.user_type == 5 %}

				<li class="menu-title"><i class="ri-more-fill"></i><span data-key="t-user">Products</span></li>

				<li class="nav-item">
					<a
							class="nav-link menu-link
                        {% if request.path == "/brand/manager/" %}active
                        {% elif request.path == "/brand/add/" %}active
                        {% elif request.path == "/brand/update/" %}active
                        {% elif request.path == "/brand/delete/" %}active{% endif %}"
							href="{% url 'dashboard-brand-manager' %}">
						<i class="mdi mdi-star"></i> <span data-key="t-b&c">Manage Brands</span>
					</a>
				</li>
				<li class="nav-item">
                    <a class="nav-link menu-link" href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                        data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
						<i class="mdi mdi-format-list-bulleted"></i>
                        <span>Manage Products</span>
                    </a>
                    <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a class="nav-link menu-link sidebar-link" href="{% url 'dashboard-product-manager' %}?region=all&product_type=1">&nbsp;&nbsp;&nbsp;&nbsp;<i class="mdi mdi-format-list-bulleted"></i>Water jar</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'dashboard-product-manager' %}?region=all&product_type=2" class="nav-link menu-link sidebar-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="mdi mdi-format-list-bulleted"></i>Accessories</a>
                        </li>
						<li class="sidebar-item">
                            <a href="{% url 'dashboard-product-manager' %}?region=all&product_type=3" class="nav-link menu-link sidebar-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="mdi mdi-format-list-bulleted"></i>Purifiers</a>
                        </li>
						<li class="sidebar-item">
                            <a href="{% url 'dashboard-product-manager' %}?region=all&product_type=4" class="nav-link menu-link sidebar-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="mdi mdi-format-list-bulleted"></i>Beverages</a>
                        </li>
                    </ul>
                </li>
				<li class="nav-item">
					<a
							class="nav-link menu-link
                        {% if request.path == "/product/outofstock/manager/" %}active{% endif %}"
							href="{% url 'dashboard-product-out-of-stock-manager' %}">
						<i class="mdi mdi-format-list-bulleted-type"></i> <span
							data-key="t-product">Manage Out of Stock <span
							class="badge rounded-pill bg-success" id="outOfStockPillShow"></span></span>
					</a>
				</li>
				<li class="nav-item">
					<a
							class="nav-link menu-link
                        {% if request.path == "/voucher/manager/" %}active{% endif %}"
							href="{% url 'dashboard-voucher-manager' %}">
						<i class="mdi mdi-ticket"></i> <span data-key="t-order">Manage Vouchers</span>
					</a>
				</li>

				{% endif %}

				<!--=================== LOCATIONS ===================-->

				{% if request.user.is_superuser or request.user.user_type == 1 or request.user.user_type == 5 %}

				<li class="menu-title"><i class="ri-more-fill"></i><span data-key="t-user">Locations</span></li>
				<li class="nav-item">
					<a
							class="nav-link menu-link {% if "/location/manager/" in request.path %}active{% endif %} "
							href="{% url 'dashboard-vendor-location-manager' %}">
						<i class="mdi mdi-map-marker"></i> <span data-key="t-vendors">Manage Locations</span>
					</a>
				</li>
				<li class="nav-item">
					<a
							class="nav-link menu-link{% if request.path == "/" %}active{% endif %}"
							href="{% url 'dashboard-area-manager' %}">
						<i class="mdi mdi-draw-pen"></i> <span data-key="t-dashboard">Manage Areas</span>
					</a>
				</li>

				<li class="nav-item">
					<a
							class="nav-link menu-link{% if request.path == "/" %}active{% endif %}"
							href="{% url 'dashboard-circle-drawer-form' %}">
						<i class="mdi mdi-draw-pen"></i> <span data-key="t-dashboard">Draw Area</span>
					</a>
				</li>
				
				<li class="active nav-item">
				{% endif %}
				
				<!--=================== REPORTS ===================-->

				{% if request.user.is_superuser or request.user.user_type == 1 or request.user.user_type == 7 %}

				<li class="menu-title"><i class="ri-more-fill"></i><span data-key="t-report">Reports</span></li>
				<li class="nav-item">
					<a
							class="nav-link menu-link {% if request.path == "/vendor/report/" %}active{% endif %} "
							href="#"
							id="vendorDriverReport">
						<i class="mdi mdi-file"></i> <span data-key="t-report">Vendor Driver Report</span>
					</a>
				</li>
				{#				{% if request.user.is_superuser %}#}
				<li class="nav-item">
					<a
							class="nav-link menu-link {% if request.path == "/vendor/report/web/" %}active{% endif %} "
							href="{% url 'dashboard-vendor-report-web' %}"
							id="vendorWebViewReport">
						<i class="mdi mdi-file"></i> <span data-key="t-report">Vendor Report(Webview)</span>
					</a>
				</li>
				<li class="nav-item">
					<a
							class="nav-link menu-link {% if request.path == "/vendor/report/web/" %}active{% endif %} "
							href="#"
							id="dueAmountReport">
						<i class="mdi mdi-file"></i> <span data-key="t-report">Due Amount Report</span>
					</a>
				</li>
				{#				{% endif %}#}
				<li class="nav-item">
					<button
							class="nav-link menu-link btn ps-3" data-bs-toggle="modal" data-bs-target="#driverModalID"
							id="deliveryBoyReport" style="padding-left: 19px;">
						<i class="mdi mdi-file"></i> <span data-key="t-report">Delivery Boy Report</span>
					</button>
				</li>
				<li class="nav-item">
					<a
							class="nav-link menu-link {% if "order/deliveryboy/report/" in request.path %}active{% endif %} "
							href="{% url 'dashboard-order-report-delivery-boy' %}"
							id="vendorDriverReport">
						<i class="mdi mdi-file"></i> <span data-key="t-report">Order Delivery Boy Report</span>
					</a>
				</li>
				<li class="nav-item">
					<button
							class="nav-link menu-link btn ps-3" data-bs-toggle="modal"
							data-bs-target="#newPurchaseModalID"
							id="newPurchaseReport" style="padding-left: 19px;">
						<i class="mdi mdi-file"></i> <span data-key="t-report">New Purchase Report</span>
					</button>
				</li>
				<li class="nav-item">
					<a
							class="nav-link menu-link {% if request.path == "staff/user/churn-report/" %}active{% endif %}"
							href="{% url 'dashboard-churn-report' %}" id="churnReport">
						<i class="mdi mdi-account"></i> <span
							data-key="t-order">Customer Churn Report</span>
					</a>
				</li>
				<li class="nav-item">
					<a
							class="nav-link menu-link {% if request.path == "staff/vendor-na-report/manager/" %}active{% endif %}"
							href="/staff/vendor-na-report/manager/?region=1" id="vendorNAReport">
						<i class="mdi mdi-account"></i> <span
							data-key="t-order">Vendor NA Report</span>
					</a>
				</li>
				<li class="nav-item" hidden="">
					<a
							class="nav-link menu-link

                        {% if request.path == "/deposit/manager/" %}active{% endif %}"
							href="{% url 'dashboard-deposit-manager' %}">
						<i class="mdi mdi-list-status"></i> <span
							data-key="t-product">Manage Jar Deposits</span>
					</a>
				</li>
				<li class="nav-item">
					<a
							class="nav-link menu-link {% if request.path == "/deposit/manager/" %}active{% endif %}"
							href="{% url 'dashboard-deposit-manager' %}">
						<i class="mdi mdi-sack"></i> <span
							data-key="t-order">Manage Deposits</span>
					</a>
				</li>
				<!--<li class="nav-item">
          <button class="nav-link menu-link btn ps-3" data-bs-toggle="modal" data-bs-target="#firstModal" id="voucherReport" style="padding-left: 19px;">
            <i class="mdi mdi-file"></i> <span data-key="t-report">Voucher Report</span>
          </button>
        </li>-->
			{% endif %}

				<!--=================== OTHERS ===================-->


				{% if request.user.is_superuser or request.user.user_type == 1 or request.user.user_type == 5 %}

				<li class="menu-title"><i class="ri-more-fill"></i><span data-key="t-others">Others</span></li>
				<!--<li class="nav-item">
					<a class="nav-link menu-link {% if "notification" in request.path %}active{% endif %} " href="#">
						<i class="mdi mdi-bell"></i> <span data-key="t-others">Manage Notifications</span>
					</a>
				</li>-->
				<li class="nav-item">
					<a
							class="nav-link menu-link {% if "banner" in request.path %}active{% endif %} "
							href="{% url 'dashboard-banner-manager' %}">
						<i class="mdi mdi-image"></i> <span data-key="t-others">Manage Banners</span>
					</a>
				</li>
				<li class="nav-item">
					<a
							class="nav-link menu-link {% if "general" in request.path %}active{% endif %} "
							href="{% url 'dashboard-general-manager' %}">
						<i class="mdi mdi-folder"></i> <span data-key="t-others">Manage Generals</span>
					</a>
				</li>
				<li class="nav-item">
					<a
							class="nav-link menu-link {% if "whyagua" in request.path %}active{% endif %} "
							href="{% url 'dashboard-whyagua-manager' %}">
						<i class="mdi mdi-head-question"></i> <span data-key="t-others">Manage Why Agua</span>
					</a>
				</li>
				<li class="nav-item">
					<a
							class="nav-link menu-link {% if "faq" in request.path %}active{% endif %} "
							href="{% url 'dashboard-faq-manager' %}">
						<i class="mdi mdi-chat-question"></i> <span data-key="t-others">Manage FAQs</span>
					</a>
				</li>
			</ul>
			{% endif %}

		</div>
		<!-- Sidebar -->
	</div>
</div>

<script>
    // JavaScript code to dynamically update the href attribute of the anchor tag

    // Function to format date as YYYY-MM-DD
    function formatDate(date) {
        var year = date.getFullYear();
        var month = ('0' + (date.getMonth() + 1)).slice(-2); // Months are zero-based
        var day = ('0' + date.getDate()).slice(-2);
        return year + '-' + month + '-' + day;
    }

    // Function to handle anchor tag click event
	document.addEventListener('DOMContentLoaded', function() {
		document.getElementById('dueAmountReport').addEventListener('click', function() {
        event.preventDefault(); // Prevent default link behavior (e.g., page reload)
        // Calculate dates for fromdate and todate (7 days ago and today)
        var today = new Date();
        var sevenDaysAgo = new Date(today);
        sevenDaysAgo.setDate(today.getDate() - 7);

        // Format dates as YYYY-MM-DD strings
        var fromDateStr = formatDate(sevenDaysAgo); // 7 days ago
        var toDateStr = formatDate(today); // Today

        // Construct the URL with the updated fromdate and todate parameters
        var url = "{% url 'dashboard-due-report' %}?page=1&region=all&paginator_count=25&search=";

        // Navigate to the constructed URL
        window.location.href = url;
    });

	document.getElementById('waterTesting').addEventListener('click', function() {
        event.preventDefault(); // Prevent default link behavior (e.g., page reload)
        // Calculate dates for fromdate and todate (7 days ago and today)
		var today = new Date();

		// Set the date to the 1st day of the current month
		var startOfMonth = new Date(today.getFullYear(), today.getMonth(), 1);
		
		// Format startOfMonth as YYYY-MM-DD string
		var fromDateStr = formatDate(startOfMonth); // Start of current month
		var toDateStr = formatDate(today);

        // Construct the URL with the updated fromdate and todate parameters
        var url = "{% url 'dashboard-water-testing-list' %}?page=1&region=all&paginator_count=25&search=&fromdate=" + fromDateStr + "&todate=" + toDateStr;

        // Navigate to the constructed URL
        window.location.href = url;
    });

	document.getElementById('waterBank').addEventListener('click', function() {
        event.preventDefault(); // Prevent default link behavior (e.g., page reload)
        // Calculate dates for fromdate and todate (7 days ago and today)
		var today = new Date();

		// Set the date to the 1st day of the current month
		var startOfMonth = new Date(today.getFullYear(), today.getMonth(), 1);
		
		// Format startOfMonth as YYYY-MM-DD string
		var fromDateStr = formatDate(startOfMonth); // Start of current month
		var toDateStr = formatDate(today);

        // Construct the URL with the updated fromdate and todate parameters
        var url = "{% url 'dashboard-water-bank-list' %}?page=1&region=all&paginator_count=25&search=&fromdate=" + fromDateStr + "&todate=" + toDateStr;

        // Navigate to the constructed URL
        window.location.href = url;
    });
});
</script>
