{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block css %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">
    <!-- Sweet Alert css-->
    <link href="{% static 'dashboard/assets/libs/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css"/>
    <!--Swiper slider css-->
    <link href="{% static 'dashboard/assets/libs/swiper/swiper-bundle.min.css' %}" rel="stylesheet" type="text/css"/>
{% endblock css %}

{% block style %}
	<style>
        .form-group {
            margin-top: 1rem;
        }

        .border-red {
            border: 1px solid red;
        }

        #selectAlertBox {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1500;
            width: auto;
            transform: translate(-50%, -50%);
        }
		#successAlert {
			color: #ffffff; 
			background-color: #68b073;  
			{% comment %} border-color: #d1e8d5;  /* Border color */ {% endcomment %}
			width: auto; 
			position: fixed; 
			top: 0; 
			right: 0; 
			margin: 20px;
		}
	</style>
{% endblock style %}


{% block content %}

	<div class="page-content">
		<div class="container-fluid">
			

			<!-- start page title -->
			<div class="row">
				<div class="col-12">
					<div class="page-title-box d-sm-flex align-items-center justify-content-between">
						<h4 class="mb-sm-0">Order Manager</h4>

						<div class="page-title-right">
							<ol class="breadcrumb m-0">
								<li class="breadcrumb-item">
									<a href="/" class="text-primary">
										Admin
									</a>
								</li>
								<li class="breadcrumb-item">
									<a href="{% url 'dashbard-orders' %}" class="text-primary">
										Orders
									</a>
								</li>
								<li class="breadcrumb-item">
									<a class="text-primary" href="#">
										{{ order.id }}
									</a>
								</li>
								<li class="breadcrumb-item">
									<a href="javascript:void(0);" onclick="goBack()" class="text-primary">
										Shipments
									</a>
								</li>
								<li class="breadcrumb-item">
									#{{ shipment.id }}
								</li>
								<li class="breadcrumb-item active">
									View
								</li>
							</ol>
						</div>

					</div>
				</div>
			</div>
			<!-- end page title -->

			<div class="row">
				
				<div class="col">
					<div class="h-100">

						<div class="row">
							<div class="col-12">
								<div class="d-flex align-items-lg-center flex-lg-row flex-column">
									<div class="flex-grow-1">
										{# <h4 class="fs-16 mb-1">Good Morning, {{ request.user }}!</h4>#}
									</div>
									<div class="mt-3 mt-lg-0"></div>
								</div><!-- end card header -->
							</div>
							<!--end col-->
						</div>

						<div class="pt-4 pb-3">
							{# ------------------------------------Contents start------------------------------------ #}

							<div class="row">
								<div class="col-xl-8 rounded" >


									


									
									<div class="card rounded shadow-lg">
    <div class="card-body">
        <div class="card shadow-none border">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h5 class="card-title flex-grow-1 mb-0">
                        ORDER #{{ order.id }}
                        {% if order.is_new %}
                            <span class="badge badge-gradient-secondary">New</span>
                        {% endif %}
                    </h5>
                    <div class="flex-shrink-0">
                        <h5 class="card-title">
                            <a href="">{{ order.delivered_by.user.name }}</a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive table-card">
                    <table class="table table-nowrap align-middle table-borderless mb-0">
                        <thead class="table-light text-muted">
                            <tr>
                                <th scope="col">Cart</th>
                                <th scope="col">Product Details</th>
                                <th scope="col">Return Jar</th>
                                <th scope="col">Item Price</th>
                                <th scope="col">Quantity</th>
                                <!-- <th scope="col">Rating</th> -->
                                <th scope="col" class="text-end">Total Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cart in cart_items %}
                                <tr>
                                    <td>#{{ cart.id }}</td>
                                    <td>
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 avatar-md bg-light rounded p-1">
                                                <img src="{{ cart.product.image.url }}" alt="" class="img-fluid d-block w-100 h-100" style="object-fit:contain;">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h5 class="fs-16">
                                                    <a href="#" class="link-primary text-wrap">{{ cart.product.name }}
                                                        <span class="badge badge-soft-primary">{{ cart.get_cart_type_display }}</span>
                                                        <span class="badge badge-soft-primary">{{ cart.product.get_product_type_display }}</span>
                                                    </a>
                                                </h5>
                                                {% if cart.cod_amount > 0 %}
                                                    <p class="text-muted mb-0">COD Amount: <span class="fw-medium">AED {{ cart.cod_amount }}</span></p>
                                                {% endif %}
                                                {% if cart.floor_charge > 0 %}
                                                    <p class="text-muted mb-0">Floor Charge: <span class="fw-medium">AED {{ cart.floor_charge }}</span></p>
                                                {% endif %}
                                                {% if cart.pg_amount > 0 %}
                                                    <p class="text-muted mb-0">Credit Amount: <span class="fw-medium">AED {{ cart.due_amount }}</span></p>
                                                {% endif %}
                                                {% if cart.free_checkout_amount > 0 %}
                                                    <p class="text-muted mb-0">Coupon Amount: <span class="fw-medium">AED {{ cart.coupon_amount }}</span></p>
                                                {% endif %}
                                                {% if cart.deposit_amount > 0 %}
                                                    <p class="text-muted mb-0">Deposit: <span class="fw-medium">AED {{ cart.deposit_amount }}</span></p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{ order.return_jar }}</td>
                                    <td>AED {{ cart.price }}</td>
                                    <td>{{ cart.quantity }}</td>
                                    <td class="fw-medium text-end">AED {% widthratio cart.price 1 cart.quantity %}</td>
                                </tr>
                            {% endfor %}
                            <tr class="border-top border-top-dashed">
                                <td colspan="3"></td>
                                <td colspan="2" class="fw-medium p-0">
                                    <table class="table table-borderless mb-0">
                                        <tbody>
                                            {% if order.deposit_amount > 0 %}
                                                <tr>
                                                    <td>Deposit Amount:</td>
                                                    <td class="text-end">AED {{ order.deposit_amount }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if shipment.distance_charge > 0 %}
                                                <tr>
                                                    <td>Distance Charge:</td>
                                                    <td class="text-end">AED {{ order.distance_charge }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if shipment.floor_charge > 0 %}
                                                <tr>
                                                    <td>Floor Charge:</td>
                                                    <td class="text-end">AED {{ order.floor_charge }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if shipment.platform_charge > 0 %}
                                                <tr>
                                                    <td>Platform Charge:</td>
                                                    <td class="text-end">AED {{ order.platform_charge }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if shipment.convenience_charge > 0 %}
                                                <tr>
                                                    <td>Convenience Charge:</td>
                                                    <td class="text-end">AED {{ order.convenience_charge }}</td>
                                                </tr>
                                            {% endif %}
                                            {% for cart in shipment.cart %}
                                                {% if cart.free_checkout_amount > 0 %}
                                                    <tr>
                                                        <td>{{ cart.count_of_free }} Voucher of product {{ cart.vendor_product.product.name }}:</td>
                                                        <td class="text-end">-AED {{ cart.free_checkout_amount }}</td>
                                                    </tr>
                                                {% endif %}
                                                {% if cart.has_offer == True and cart.offer_applied == True %}
                                                    <tr>
                                                        <td class="text-wrap">{{ cart.left }}:</td>
                                                        <td class="text-end">{{ cart.right }}<br>
                                                            <span class="badge bg-success">Offer Applied</span>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                            <tr class="fw-bold">
                                                <td>Total:</td>
                                                <td class="text-end">AED {{ order.total }}</td>
                                            </tr>
                                            <tr class="border-top border-top-dashed fw-bolder">
                                                <th scope="row" class="fw-bolder">Due Amount:</th>
                                                <th class="text-end fw-bolder">AED {{ order.due_amount }}</th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

									
										{% for cart in carts %}
											<div class="card">
												<div class="card-header">Cart {{ cart.id }}</div>
												<div class="card-body">
													<table class="table table-sm">
														<tr>
															<td class="text-uppercase bg-light">product_name</td>
															<td>{{ cart.vendor_product.product.name }}</td>
														</tr>
														<tr>
															<td class="text-uppercase bg-light">product quantity</td>
															<td>{{ cart.quantity }}</td>
														</tr>
														<tr>
															<td class="text-uppercase bg-light">Purchase type</td>
															<td>{{ cart.get_cart_type_display }}</td>
														</tr>
														<tr>
															<td class="text-uppercase bg-light">product price</td>
															<td>{{ cart.price }}</td>
														</tr>
														<tr>
															<td class="text-uppercase bg-light">deposit amount</td>
															<td>{{ cart.deposit_amount }}</td>
														</tr>
														<tr>
															<td class="text-uppercase bg-light">free checkout amount
															</td>
															<td>{{ cart.free_checkout_amount }}</td>
														</tr>
														<tr>
															<td class="text-uppercase bg-light">cod amount</td>
															<td>{{ cart.cod_amount }}</td>
														</tr>
														<tr>
															<td class="text-uppercase bg-light">pg amount</td>
															<td>{{ cart.pg_amount }}</td>
														</tr>
														<tr>
															<td class="text-uppercase bg-light"><b>total amount</b></td>
															<td><b>{{ cart.total_cart_amount }}</b></td>
														</tr>
													</table>
												</div>
											</div>
										{% endfor %}


									<div class="card">
										<div class="card-header">
											<div class="d-flex align-items-center">
												<i
														class="mdi mdi-receipt me-2 text-muted"
														style="font-size: 24px;"></i>
												<h5 class="card-title mb-0">Payment Details</h5>
											</div>
										</div>
										<div class="card-body">

											<p class="text-start p-0 m-0 mb-1"><span
													class="text-muted">Payment Mode: </span>{% if order.payment_mode == 1 %}
													Cash on Delivery
{% elif order.payment_mode == 2 %}
Credit
{% elif order.payment_mode == 3 %}
    Coupon
	{% endif %}
												
											</p>
											<p class="text-start p-0 m-0 mb-1"><span class="text-muted">Cash on Delivery Amount: </span>AED {{ order.paid_amount }}
											</p>
											<p class="text-start p-0 m-0 mb-1"><span class="text-muted">Paid Amount: </span>AED {{ order.paid_amount }}
											</p>
											<p class="text-start p-0 m-0 mb-1"><span class="text-muted">Due Amount: </span>AED {{ order.due_amount }}
											</p>
											
											
											<p class="text-start p-0 m-0 mb-1"><span class="text-muted">Coupon Amount: </span>AED {{ order.coupon_amount }}
											</p>
											<p class="text-start p-0 m-0 mb-1"><span
													class="text-muted">Deposit Amount: </span>AED {{ order.deposit_amount }}
											</p>
											<p class="text-start p-0 m-0 mb-1"><span class="text-muted">Total Order Amount: </span>AED {{ order.total }}
											</p>
											<p class="text-start p-0 m-0 mb-1"><span class="text-muted">Total Payable Amount: </span>AED {{ order.total }}
											</p>
											
										</div>
									</div>

									



								</div>
								<!--end col-->
								<div class="col-xl-4 rounded" style="overflow: scroll; height: 85vh;">

									<div class="card">
										<div class="card-header">
											<div class="d-flex align-items-center">
												<i
														class="mdi mdi-truck-fast-outline me-2 text-muted"
														style="font-size: 24px;"></i>
												<h5 class="card-title mb-0">Delivery Details</h5>
											</div>
										</div>
										<div class="card-body">
											<div class="text-center">
												<lord-icon
														src="https://cdn.lordicon.com/uetqnvvg.json"
														trigger="loop"
														colors="primary:#405189,secondary:#0ab39c"
														style="width: 80px; height: 80px;"
												></lord-icon>
												
														<table class="w-100 table table-sm table-borderless">
														<tr>
															<td class="w-25 align-middle text-start">
																<label
																		class="text-muted m-0 p-0"
																		for="vendor">Salesman:</label>
															</td>
															<td class="w-25 align-middle text-start">
																<label
																		class="text-muted m-0 p-0"
																		>{{order.delivered_by.name}}</label>
															</td>
															
														</tr>
														<tr>
															<td class="w-25 align-middle text-start">
																<label
																		class="text-muted m-0 p-0"
																		>Vehicle:</label>
															</td>
															<td class="w-25 align-middle text-start">
																<label
																		class="text-muted m-0 p-0"
																		>{{order.trip.vehicle.vehicle_number}} - {{order.trip.vehicle.registration_number}}</label>
															</td>
															
														</tr>
														<tr>
															<td class="w-25 align-middle text-start">
																<label
																		class="text-muted m-0 p-0"
																		>Route:</label>
															</td>
															<td class="w-25 align-middle text-start">
																<label
																		class="text-muted m-0 p-0"
																		>{{order.trip.route.route_number}} - {{order.trip.route.route_name}}</label>
															</td>
															
														</tr>

														
													</table>
												

												
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header">
											<div class="d-flex" style="align-items: center">
												<h5 class="card-title flex-grow-1 mb-0">
													<i class="mdi mdi-account-outline align-middle me-1 text-muted"></i>
													Customer Details
												</h5>
												<div class="flex-shrink-0">
													<a
															href="{%url 'dashboard-view-customer' pk=user_id %}"
															class="btn btn-sm btn-secondary" target="_blank"><i
															class="mdi mdi-eye"></i></a>
												</div>
											</div>
										</div>
										<div class="card-body">
											<ul class="list-unstyled mb-0 vstack gap-3">
												<li>
													<div class="d-flex align-items-center">
														<div class="flex-shrink-0">
															{#                                                            {% if order.user.image or "default" not in order.user.image.url %}#}
															<img
																	src="/static/dashboard/custom_image/user_icon.webp"
																	alt=""
																	class="avatar-sm rounded">
															{#                                                            {% else %}#}
															{#                                                            <img src="/static/dashboard/custom_image/image_not_found.png" alt=""#}
															{#                                                                 class="avatar-sm rounded">#}
															{#                                                            {% endif %}#}
														</div>
														<div class="flex-grow-1 ms-3">
															<h6 class="fs-15 mb-1">{{ order.user.name }}</h6>
															<p class="text-muted mb-0">Customer</p>
														</div>
													</div>
												</li>
												<li><i
														class="ri-user-line me-2 align-middle text-muted fs-16"></i>{{ order.water_subscription.customer.user.name }}
												</li>
												<li><i
														class="ri-phone-line me-2 align-middle text-muted fs-16"></i>{{ order.water_subscription.customer.user.phone }}
												</li>
											</ul>
										</div>
									</div>

									<div class="card">
										<div class="card-header">
											<h5 class="card-title mb-0">
												<i class="ri-map-pin-line align-middle me-1 text-muted"></i> Shipping
												                                                             Address
											</h5>
										</div>
										<div class="card-body">
											<ul class="list-unstyled vstack gap-2 fs-14 mb-0">
												<li class="fw-semibold fs-15">{{ order.address.name }}</li>
												<li>{{ order.water_subscription.address.phone }}</li>
												<li>{{ order.water_subscription.address.house_number }}</li>
												<li>{{ order.water_subscription.address.landmark }}</li>
												<li>{{ order.water_subscription.address.address_line }}</li>
											</ul>
											<button
													id="copyButton" class="btn btn-light btn-sm w-100 m-2"
													onclick="copyToClipboard()">
												<i class="mdi mdi-clipboard"></i> Copy to Clipboard
											</button>

										</div>
									</div>

									{% comment %} <div class="card">
										<div class="card-header">
											<h5 class="card-title mb-0">
												<i class="ri-truck-fill align-middle me-1 text-muted"></i> Other
												                                                           Shipments
											</h5>
										</div>
										<div class="card-body text-center">
											{% if other_shipments %}
												<div class="row">
													{% for shipment in other_shipments %}
														<div class="col-md-6 p-1">
															<a
																	href="{% url 'dashboard-shipment-view' shipment.id %}"
																	class="btn btn-sm btn-soft-info m-0 w-100"><i
																	class="mdi mdi-eye"></i> #{{ shipment.id }}</a>
														</div>
													{% endfor %}
												</div>


											{% else %}
												<p class="text-info text-center">No Other Shipments!</p>
											{% endif %}
										</div>
									</div> {% endcomment %}

								</div>
								<!--end col-->
							</div>
							<hr>
							<div class="card">
								<div class="card-header">
									<h5 class="card-title mb-0">
										<i class="ri-list-unordered align-bottom me-1 text-muted"></i>
										Previous Orders
									</h5>
								</div>
								<div class="card-body">
									<div class="row">
										{% for orders in past_orders %}
											<a href="{% url 'dashboard-view-order' orders.id %}" class="col">
												<div class="card card-animate">
													{% if orders.id == order.id %}
														<div
																style="position: absolute; top: 10%; right: 10%; transform: translate(-10%,-10%);"
																class="m-0 p-0">
															<span class="badge badge-soft-success">Same Order</span>
														</div>
													{% endif %}
													<div class="card-body">
														<h6 class="card-subtitle mb-2 text-muted">#{{ orders.id }}</h6>
														<p class="card-text">
                                                            <span
		                                                            class="badge
										                                    {% if orders.status == 0 or orders.status == 5 %}badge-soft-danger
										                                    {% elif order.status == 2 %}badge-soft-success
										                                    {% elif order.status == 1 %}badge-soft-dark
										                                    {% elif order.status == 3 %}badge-soft-primary
										                                    {% else %}badge-soft-secondary{% endif %}">
                                                                {{ orders.get_status_display }}
                                                            </span>
														</p>
														<p class="card-text">
															{% if orders.status == 2 %}
																Delivered on:<br>
																<span class="text-muted">
                                                                    {{ orders.delivered_time | date:'d-m-y h:iA' }}
                                                                </span>
															{% elif order.status == 5 %}
																Cancelled on:<br>
																<span class="text-muted">
                                                                    {{ orders.cancelled_time | date:'d-m-y h:iA' }}
                                                                </span>
															{% else %}
																Expected delivery:<br>
																<span class="text-muted">
										                            {{ orders.expected_delivery_time | date:'d-m-y h:iA' }}
									                            </span>
															{% endif %}
														</p>
														<button
																onclick="window.location='{% url 'dashboard-view-order' order.id %}';"
																class="btn btn-secondary btn-sm w-100">
															View
														</button>
													</div>
												</div>
											</a>
										{% endfor %}
									</div>
									{% if not past_orders %}
										<p class="text-center text-danger mt-3">No Previous Orders</p>
									{% endif %}
								</div>
							</div>


							{# -------------------------------------Contents end------------------------------------- #}
						</div>

						<!--end row-->
					</div> <!-- end .h-100-->
				</div> <!-- end col -->
			</div>
			{% include "dashboard/includes/modals/update.html" with title="Shipment" %}
			<!-- Update Modals -->
			<div
					id="statusCancelModal" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel"
					aria-hidden="true"
					style="display: none;">
				<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
					<div class="modal-content">
						<div class="modal-header border-bottom">
							<h5 class="modal-title" id="myModalLabel">Cancel Shipment #{{ shipment.id }}</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body pt-0">
							{{ cancellation_form | crispy }}
						</div>
						<div class="modal-footer border-top">
							<button type="submit" id="cancelStatusFormSubmit" class="btn btn-success">Submit</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->



			{% comment %} <div id="" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel"
					aria-hidden="true"
					style="display: none;">
				<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
					<div class="modal-content">
						<div class="modal-header border-bottom">
							<h5 class="modal-title" id="myModalLabel">Cancel Shipment #{{ shipment.id }}</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body pt-0">
							{{ cancellation_form | crispy }}
						</div>
						<div class="modal-footer border-top">
							<button type="submit" id="cancelStatusFormSubmit" class="btn btn-success">Submit</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal --> {% endcomment %}

			<div id="addModal" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
				<div id="successAlert" class="alert alert-success d-none" role="alert" >
					<span id="successMessage"></span>
				</div>
				<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
					<div class="modal-content">
						<div class="modal-header border-bottom">
							<h5 class="modal-title" id="myModalLabel">Create Payment</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body pt-0">
							<form role="form" method="post" id="addModalForm" enctype="multipart/form-data" action="/staff/create-payment/{{shipment.id}}/">
								{% csrf_token %}
								<div class="mb-3">
									<label for="paid_amount" class="form-label">Paid Amount</label>
									<input type="number" class="form-control" id="paid_amount" name="paid_amount" required>
								</div>
								<div id="payment-error" class="text-danger"></div>
							</form>
						</div>
						<div class="modal-footer border-top">
							<!-- Remove click event handler and let the form handle submission -->
							<button type="submit" class="btn btn-success" form="addModalForm">Submit</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			
			


			<div class="modal fade" id="updateSubscriptionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLongTitle">Update Subscription</h5>
			       
			      </div>
			      <div class="modal-body">


			        <form>
            <div class="form-group row">
              <div class="col-sm-12">


                <select class="form-control" id="select-products" data-choices>


                	<option value="1">Agua Gallon</option>
              
                </select>

              </div>
            </div>
          </form>


			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal" data-bs-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary">Save changes</button>
			      </div>
			    </div>
			  </div>
			</div>


		</div>
		<!-- container-fluid -->
	</div>


{% endblock content %}

{% block js %}

	<script src="{% static 'dashboard/assets/libs/sweetalert2/sweetalert2.min.js' %}"></script>
	<script src="{% static 'dashboard/assets/libs/apexcharts/apexcharts.min.js' %}"></script>
	<script src="{% static 'dashboard/assets/js/pages/modal.init.js' %}"></script>
	

{% endblock js %}

{% block script %}


	<script>
        function copyToClipboard() {
            // Get the latitude and longitude values
            var latitude = `{{ shipment.order.address.point.y }}`;
            var longitude = `{{ shipment.order.address.point.x }}`;

            // Create a temporary input element
            var tempInput = document.createElement("input");

            // Set the value of the input to the Google Maps link
            tempInput.value = "https://www.google.com/maps?q=" + latitude + "," + longitude;

            // Append the input element to the body
            document.body.appendChild(tempInput);

            // Select the text in the input element
            tempInput.select();
            tempInput.setSelectionRange(0, 99999); // For mobile devices

            // Copy the text to the clipboard
            document.execCommand("copy");

            // Remove the temporary input element
            document.body.removeChild(tempInput);

            // Update the button text to indicate copying
            var originalText = document.getElementById("copyButton").innerHTML;
            document.getElementById("copyButton").innerHTML = "<i class='mdi mdi-clipboard-check'></i> Copied";

            // Set a timeout to revert the button text after 2 seconds
            setTimeout(function () {
                document.getElementById("copyButton").innerHTML = originalText;
            }, 2000);
        }
	</script>
	
	
	

{% endblock script %}