{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block css %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">
    <link href="{% static 'dashboard/assets/libs/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'dashboard/assets/libs/swiper/swiper-bundle.min.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-draw@1.0.4/dist/leaflet.draw.css"/>
{% endblock css %}

{% block style %}

    <style>
 #alert-box-top-right {
        position: absolute;
        top: 5%;
        right: 5%;
        transform: translate(5%, -5%);
    }
    .border-red {
        border: 1px solid #ff0000;
    }
    
    
    </style>
    
    {% endblock style %}

{% block content %}
<div class="page-content">
    <div class="container-fluid">
        <div id="map" class="map-container" style="height: 79vh; width: 100%;"></div>
        <div class="container mt-3 d-flex justify-content-between align-items-center">
            <div class="row text-center">
                <div class="col">
                    <!-- <strong>Area Name:</strong> {{ area_name }} -->
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-sm btn-outline-primary" onclick="goBack()">
                        <i class="fas fa-arrow-left"></i> Go Back
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-draw@1.0.4/dist/leaflet.draw.js"></script>
    
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <script>
        var map = L.map('map').setView([25.4052, 55.5136], 15); 


        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        var editableLayers = new L.FeatureGroup();
        map.addLayer(editableLayers);

        var drawControl = new L.Control.Draw({
            position: 'topright',
            draw: {
                polygon: {
                    allowIntersection: false, 
                    drawError: {
                        color: '#e1e100', 
                        message: '<strong>Oh snap!<strong> you can\'t draw that!' 
                    },
                    shapeOptions: {
                        color: '#97009c'
                    }
                },
                polyline: false,
                circle: false, 
                rectangle: false, 
                marker: false, 
                circlemarker: false 
            },
            edit: {
                featureGroup: editableLayers, 
                remove: true
            }
        });
        map.addControl(drawControl);

        map.on(L.Draw.Event.CREATED, function (event) {
        var layer = event.layer;
        editableLayers.addLayer(layer);

        var polygonGeoJson = layer.toGeoJSON();
        var coordinates = polygonGeoJson.geometry.coordinates;

        function promptForAreaName() {
            var areaName = prompt("Set an Area Name");

        if (!areaName || areaName.trim() === "") {
            alert("Area Name is required. Please enter a valid name.");
            promptForAreaName(); 
        } else {
            console.log('Polygon Coordinates:');
            coordinates[0].forEach(point => {
                console.log(`Longitude: ${point[0]}, Latitude: ${point[1]}`);
            });

            fetch('/salesman/save_polygon/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({
                    name: areaName,
                    coordinates: coordinates[0]
                })
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                window.location.href = '/salesman/area/manager/';
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
    }

    promptForAreaName();
});


        map.on('draw:created', function (e) {
            var type = e.layerType,
                layer = e.layer;

            if (type === 'polygon') {
                layer.bindPopup('A polygon!');
            }

            editableLayers.addLayer(layer);
        });

        
    </script>
    <script>
        $(document).ready(function () {
            $('.noty-tost').click();
        });
    </script>
    
{% endblock js %}
