{% include 'base.html' %}



<style>
    .tab-content {
        display: none;
    }

    .tab-content.active {
        display: block;
    }
</style>

<div class="page-wrapper">
    <div class="content">
        <div class="row">

            <div class="col-md-12">
                <div class="d-md-flex d-block align-items-center justify-content-between mb-3">
                    <div class="my-auto mb-2">
                        <h3 class="page-title mb-1">Student Details</h3>
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="{% url 'dashboard-home' %}">Dashboard</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="{% url 'dashboard-customer' %}">Student</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Student Details</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="d-flex my-xl-auto right-content align-items-center  flex-wrap">
                        <a href="#" class="btn btn-light me-2 mb-2" data-bs-toggle="modal"
                            data-bs-target="#login_detail"><i class="bi bi-lock me-2"></i>
Login Details</a>
                        <a href="{% url 'dashboard-customer-update' pk=customer.id %}"
                            class="btn btn-primary d-flex align-items-center mb-2"><i class="bi bi-pencil-fill me-2"></i>
                                                        Edit Student</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-xxl-3 col-xl-4 theiaStickySidebar">
                <div class="card border-white">
                    <div class="card-header">
                        <div class="d-flex align-items-center flex-wrap row-gap-3">
                            <div
                                class="d-flex align-items-center justify-content-center avatar avatar-xxl border border-dashed me-2 flex-shrink-0 text-dark frames">
                                {% if customer.image %}
                                <img src="{{customer.image.url}}" class="img-fluid" alt="img">
                                {% else %}
                                <i class="bi bi-person-circle fs-3 text-dark"></i>

                                {% endif %}
                            </div>
                            <div class="overflow-hidden">
                                <span class="badge badge-soft-success d-inline-flex align-items-center mb-1"><i
                                        class="ti ti-circle-filled fs-5 me-1"></i>Active</span>
                                <h5 class="mb-1 text-truncate">{{customer.name}}</h5>
                                <p class="text-primary">{{customer.id}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <h5 class="mb-3">Basic Information</h5>
                        <dl class="row mb-0">
                            <dt class="col-6 fw-medium text-dark mb-3">Roll No</dt>
                            <dd class="col-6 mb-3">35013</dd>
                            <dt class="col-6 fw-medium text-dark mb-3">Name</dt>
                            <dd class="col-6 mb-3">{{customer.name}}</dd>
                            <dt class="col-6 fw-medium text-dark mb-3">Email</dt>
                            <dd class="col-6 mb-3">{{customer.email}}</dd>
                            <dt class="col-6 fw-medium text-dark mb-3">District</dt>
                            <dd class="col-6 mb-3">{{customer.get_district_display }}</dd>
                            <dt class="col-6 fw-medium text-dark mb-3">Phone Number</dt>
                            <dd class="col-6 mb-3">{{customer.phone_number}}</dd>

                            <!-- <dt class="col-6 fw-medium text-dark mb-3">Course Purchased</dt>
                            <dd class="col-6 mb-3">
                                {% if courses %}
                                {% for course in courses %}
                                <span class="badge badge-light text-dark me-2">{{ course.course_name }}</span>
                                {% endfor %}
                                {% else %}
                                <span class="badge badge-light text-dark">No courses purchased</span>
                                {% endif %}
                            </dd> -->
                        </dl>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#add_fees_collect"
                            class="btn btn-primary btn-sm w-100">Add Fees</a>
                    </div>

                </div>

                <div class="card border-white">
                    <div class="card-body">
                        <h5 class="mb-3">Primary Contact Info</h5>
                        <div class="d-flex align-items-center mb-3">
                            <span class="avatar avatar-md bg-light-300 rounded me-2 flex-shrink-0 text-default"><i
                                    class="bi bi-telephone"></i></span>
                            <div>
                                <span class="text-dark fw-medium mb-1">Phone Number</span>
                                <p>{{customer.phone_number}}</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="avatar avatar-md bg-light-300 rounded me-2 flex-shrink-0 text-default"><i
                                    class="bi bi-envelope"></i>
                            </span>
                            <div>
                                <span class="text-dark fw-medium mb-1">Email Address</span>
                                <p>{{customer.email}}</p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>





                <div class="card border-white">
                    <div class="card-body">
                        <h5 class="mb-3">Purchased Courses</h5>
                
                        <!-- Display Batch Details -->
                        <ul class="list-unstyled">
                            {% for batch in batch_details %}
                                <li class="mb-3 border-bottom pb-3">
                                    <div class="d-flex align-items-start">
                                        <span class="avatar avatar-sm bg-light-300 rounded me-3 flex-shrink-0 text-default">
                                            <i class="bi bi-file-earmark-text fs-5"></i>

                                        </span>
                                        <div>
                                            <strong>Course:</strong> {{ batch.course_name }} <br>
                                            <strong>
                                                <i class="bi bi-calendar me-1"></i> Start Date:
                                            </strong>
                                            {{ batch.start_date|date:"d-m-Y"}} <br>
                                            <strong>
                                                <i class="bi bi-calendar-x me-1"></i> End Date:
                                            </strong>
                                            {{ batch.expiry_date|date:"d-m-Y" }} <br>
                                            <strong>
                                                <i class="bi bi-currency-rupee me-1"></i>
                                                    Price:
                                            </strong>
                                            ${{ batch.price|floatformat:2 }} <br>
                                        </div>
                                    </div>
                                </li>
                            {% empty %}
                                <li>No batches found.</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                
                

            </div>

            <div class="col-xxl-9 col-xl-8">
                <div class="row">
                    <ul class="nav nav-tabs nav-tabs-bottom mb-4">
                        <li>
                            <a href="#" class="nav-link" data-target="studentDetails">Student & ExamDetails</a>
                        </li>
                        
                    </ul>
                    <div class="card" id="studentDetails" class="tab-content">
                        <div class="col-md-12">

                                
                                        
                               
                                    <div class="card-header">
                                        <h5>Parents Information</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="border rounded p-3 pb-0 mb-3">
                                            <div class="row">
                                                <div class="col-sm-6 col-lg-4">
                                                    <div class="d-flex align-items-center mb-3">
                                                        <span class="avatar avatar-lg flex-shrink-0">
                                                            <img src="https://preskool.dreamstechnologies.com/html/template/assets/img/parents/parent-13.jpg"
                                                                class="img-fluid rounded" alt="img">
                                                        </span>
                                                        <div class="ms-2 overflow-hidden">
                                                            <h6 class="text-truncate">Jerald Vicinius</h6>
                                                            <p class="text-primary">Father</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-lg-4">
                                                    <div class="mb-3">
                                                        <p class="text-dark fw-medium mb-1">Phone</p>
                                                        <p>+1 45545 46464</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-lg-4">
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <div class="mb-3 overflow-hidden me-3">
                                                            <p class="text-dark fw-medium mb-1">Email</p>
                                                            <p class="text-truncate"><a
                                                                    href="https://preskool.dreamstechnologies.com/cdn-cgi/l/email-protection"
                                                                    class="__cf_email__"
                                                                    data-cfemail="49232c3b28092c31282439252c672a2624">[email&#160;protected]</a>
                                                            </p>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                                
                                

                            </div>
                        <div class="card" id="examResults" class="tab-content">
                            <div class="col-md-12">

                                <div class="card">
                                    <div
                                        class="card-header d-flex align-items-center justify-content-between flex-wrap pb-0">
                                        <h4 class="mb-3">Exams & Results</h4>
                                        <div class="d-flex align-items-center flex-wrap">
                                            <!-- <div class="dropdown mb-3 me-2">
                                                <a href="javascript:void(0);"
                                                    class="btn btn-outline-light bg-white dropdown-toggle"
                                                    data-bs-toggle="dropdown" data-bs-auto-close="outside"><i
                                                    class="bi bi-calendar me-2"></i>Year : 2024 / 2025</a>
                                                <ul class="dropdown-menu p-3">
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                                            Year : 2024 / 2025
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                                            Year : 2023 / 2024
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                                            Year : 2022 / 2023
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="accordions-items-seperate" id="accordionExample">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header">
                                                    <button class="accordion-button" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                                        aria-expanded="true" aria-controls="collapseOne">
                                                        <span class="avatar avatar-sm bg-success me-2"><i
                                                            class="bi bi-check2-all"></i></span>
                                                        Monthly Test (May)
                                                    </button>
                                                </h2>
                                                <div id="collapseOne" class="accordion-collapse collapse show"
                                                    data-bs-parent="#accordionExample">
                                                    <div class="accordion-body">

                                                        <div class="table-responsive">
                                                            <table class="table">
                                                                <thead class="thead-light">
                                                                    <tr>
                                                                        <th>Subject</th>
                                                                        <th>Max Marks</th>
                                                                        <th>Min Marks</th>
                                                                        <th>Marks Obtained</th>
                                                                        <th class="text-end">Result</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>English (150)</td>
                                                                        <td>100</td>
                                                                        <td>35</td>
                                                                        <td>65</td>
                                                                        <td class="text-end"><span
                                                                                class="badge badge-soft-success d-inline-flex align-items-center"><i
                                                                                    class="ti ti-circle-filled fs-5 me-1"></i>Pass</span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Mathematics (214)</td>
                                                                        <td>100</td>
                                                                        <td>35</td>
                                                                        <td>73</td>
                                                                        <td class="text-end"><span
                                                                                class="badge badge-soft-success d-inline-flex align-items-center"><i
                                                                                    class="ti ti-circle-filled fs-5 me-1"></i>Pass</span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Physics (120)</td>
                                                                        <td>100</td>
                                                                        <td>35</td>
                                                                        <td>55</td>
                                                                        <td class="text-end"><span
                                                                                class="badge badge-soft-success d-inline-flex align-items-center"><i
                                                                                    class="ti ti-circle-filled fs-5 me-1"></i>Pass</span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Chemistry (110)</td>
                                                                        <td>100</td>
                                                                        <td>35</td>
                                                                        <td>90</td>
                                                                        <td class="text-end"><span
                                                                                class="badge badge-soft-success d-inline-flex align-items-center"><i
                                                                                    class="ti ti-circle-filled fs-5 me-1"></i>Pass</span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Spanish (140)</td>
                                                                        <td>100</td>
                                                                        <td>35</td>
                                                                        <td>88</td>
                                                                        <td class="text-end"><span
                                                                                class="badge badge-soft-success d-inline-flex align-items-center"><i
                                                                                    class="ti ti-circle-filled fs-5 me-1"></i>Pass</span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="bg-dark text-white">Rank : 30</td>
                                                                        <td class="bg-dark text-white">Total : 500</td>
                                                                        <td class="bg-dark text-white" colspan="2">Marks
                                                                            Obtained : 395</td>
                                                                        <td class="bg-dark text-white text-end">
                                                                            <div
                                                                                class="d-flex align-items-center justify-content-end">
                                                                                <span class="me-2">Percentage :
                                                                                    79.50</span>
                                                                                <h6 class="fw-normal text-white">Result
                                                                                    : <span class="text-success"> Pass
                                                                                    </span></h6>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="col-xxl-6 d-flex">
                                                <div class="card flex-fill">
                                                    <div class="card-header">
                                                        <h5>Documents</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <div
                                                            class="bg-light-300 border rounded d-flex align-items-center justify-content-between mb-3 p-2">
                                                            <div class="d-flex align-items-center overflow-hidden">
                                                                <span
                                                                    class="avatar avatar-md bg-white rounded flex-shrink-0 text-default"><i
                                                                        class="ti ti-pdf fs-15"></i></span>
                                                                <div class="ms-2">
                                                                    <p class="text-truncate fw-medium text-dark">
                                                                        BirthCertificate.pdf
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <a href="#" class="btn btn-dark btn-icon btn-sm"><i
                                                                    class="ti ti-download"></i></a>
                                                        </div>
                                                        <div
                                                            class="bg-light-300 border rounded d-flex align-items-center justify-content-between p-2">
                                                            <div class="d-flex align-items-center overflow-hidden">
                                                                <span
                                                                    class="avatar avatar-md bg-white rounded flex-shrink-0 text-default"><i
                                                                        class="ti ti-pdf fs-15"></i></span>
                                                                <div class="ms-2">
                                                                    <p class="text-truncate fw-medium text-dark">
                                                                        Transfer
                                                                        Certificate.pdf</p>
                                                                </div>
                                                            </div>
                                                            <a href="#" class="btn btn-dark btn-icon btn-sm"><i
                                                                    class="ti ti-download"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> -->


                                            <!-- <div class="col-xxl-6 d-flex">
                                                <div class="card flex-fill">
                                                    <div class="card-header">
                                                        <h5>Address</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="d-flex align-items-center mb-3">
                                                            <span
                                                                class="avatar avatar-md bg-light-300 rounded me-2 flex-shrink-0 text-default"><i
                                                                    class="ti ti-map-pin-up"></i></span>
                                                            <div>
                                                                <p class="text-dark fw-medium mb-1">Current Address</p>
                                                                <p>3495 Red Hawk Road, Buffalo Lake, MN 55314</p>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex align-items-center">
                                                            <span
                                                                class="avatar avatar-md bg-light-300 rounded me-2 flex-shrink-0 text-default"><i
                                                                    class="ti ti-map-pins"></i></span>
                                                            <div>
                                                                <p class="text-dark fw-medium mb-1">Permanent Address
                                                                </p>
                                                                <p>3495 Red Hawk Road, Buffalo Lake, MN 55314</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> -->


                                            <!-- <div class="col-xxl-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Previous School Details</h5>
                                                    </div>
                                                    <div class="card-body pb-1">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="mb-3">
                                                                    <p class="text-dark fw-medium mb-1">Previous School
                                                                        Name</p>
                                                                    <p>Oxford Matriculation, USA</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="mb-3">
                                                                    <p class="text-dark fw-medium mb-1">School Address
                                                                    </p>
                                                                    <p>1852 Barnes Avenue, Cincinnati, OH 45202</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> -->


                                            


                                            <!-- <div class="col-xxl-6 d-flex">
                                                <div class="card flex-fill">
                                                    <div class="card-header">
                                                        <h5>Medical History</h5>
                                                    </div>
                                                    <div class="card-body pb-1">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="mb-3">
                                                                    <p class="text-dark fw-medium mb-1">Known Allergies
                                                                    </p>
                                                                    <span class="badge bg-light text-dark">Rashes</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="mb-3">
                                                                    <p class="text-dark fw-medium mb-1">Medications</p>
                                                                    <p>-</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> -->


                                            <!-- <div class="col-xxl-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Other Info</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <p>Depending on the specific needs of your organization or
                                                            system, additional
                                                            information may be collected or tracked. It's important to
                                                            ensure that any
                                                            data collected complies with privacy regulations and
                                                            policies to protect
                                                            students' sensitive information.</p>
                                                    </div>
                                                </div>
                                            </div> -->

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="modal fade" id="login_detail">
                            <div class="modal-dialog modal-dialog-centered  modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Login Details</h4>
                                        <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal"
                                            aria-label="Close">
                                          <i class="bi bi-x"></i>


                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="student-detail-info">
                                            <span class="student-img">
                                                {% if customer.image and customer.image.url %}
                                                    <img src="{{ customer.image.url }}" alt="Img">
                                                {% else %}
                                                <i class="bi bi-person-circle fs-3 text-dark"></i>
                                                {% endif %}
                                            </span>
                                            

                                            <div class="name-info">
                                                <h6>{{customer.name}}</h6>
                                            </div>
                                        </div>
                                        <div class="table-responsive custom-table no-datatable_length">
                                            <table class="table datanew">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th>User Type</th>
                                                        <th>User Name</th>
                                                        <th>Password </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                   
                                                    <tr>
                                                        <td>Student</td>
                                                        <td>{{customer.name}}</td>
                                                        <td>{{customer.password}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="#" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="modal fade" id="add_fees_collect">
                            <div class="modal-dialog modal-dialog-centered  modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="d-flex align-items-center">
                                            <h4 class="modal-title">Collect Fees</h4>
                                            <spa class="badge badge-sm bg-primary ms-2">AD124556</span>
                                        </div>
                                        <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal"
                                            aria-label="Close">
                                            <i class="ti ti-x"></i>
                                        </button>
                                    </div>
                                    <form
                                        action="https://preskool.dreamstechnologies.com/html/template/collect-fees.html">
                                        <div class="modal-body">
                                            <div class="bg-light-300 p-3 pb-0 rounded mb-4">
                                                <div class="row align-items-center">
                                                    <div class="col-lg-3 col-md-6">
                                                        <div class="d-flex align-items-center mb-3">
                                                            <a href="https://preskool.dreamstechnologies.com/html/template/student-details.html"
                                                                class="avatar avatar-md me-2">
                                                                <img src="https://preskool.dreamstechnologies.com/html/template/assets/img/students/student-01.jpg"
                                                                    alt="img">
                                                            </a>
                                                            <a href="https://preskool.dreamstechnologies.com/html/template/student-details.html"
                                                                class="d-flex flex-column"><span
                                                                    class="text-dark">Janet</span>III,
                                                                A</a>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-6">
                                                        <div class="mb-3">
                                                            <span class="fs-12 mb-1">Total Outstanding</span>
                                                            <p class="text-dark">2000</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-6">
                                                        <div class="mb-3">
                                                            <span class="fs-12 mb-1">Last Date</span>
                                                            <p class="text-dark">25 May 2024</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-6">
                                                        <div class="mb-3">
                                                            <span class="badge badge-soft-danger"><i
                                                                    class="ti ti-circle-filled me-2"></i>Unpaid</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label class="form-label">Fees Group</label>
                                                        <select class="select">
                                                            <option>Select</option>
                                                            <option>Class 1 General</option>
                                                            <option>Monthly Fees</option>
                                                            <option>Admission-Fees</option>
                                                            <option>Class 1- I Installment</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label class="form-label">Fees Type</label>
                                                        <select class="select">
                                                            <option>Select</option>
                                                            <option>Tuition Fees</option>
                                                            <option>Monthly Fees</option>
                                                            <option>Admission Fees</option>
                                                            <option>Bus Fees</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label class="form-label">Amount</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Enter Amout">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label class="form-label">Collection Date</label>
                                                        <div class="date-pic">
                                                            <input type="text" class="form-control datetimepicker"
                                                                placeholder="Select">
                                                            <span class="cal-icon"><i class="ti ti-calendar"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label class="form-label">Payment Type</label>
                                                        <select class="select">
                                                            <option>Select</option>
                                                            <option>Paytm</option>
                                                            <option>Cash On Delivery</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label class="form-label">Payment Reference No</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Enter Payment Reference No">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <div class="status-title">
                                                            <h5>Status</h5>
                                                            <p>Change the Status by toggle </p>
                                                        </div>
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox"
                                                                role="switch" id="switch-sm2">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="mb-0">
                                                        <label class="form-label">Notes</label>
                                                        <textarea rows="4" class="form-control"
                                                            placeholder="Add Notes"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="#" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                                            <button type="submit" class="btn btn-primary">Pay Fees</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>


                    <script data-cfasync="false"
                        src="https://preskool.dreamstechnologies.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                    <script src="https://preskool.dreamstechnologies.com/html/template/assets/js/jquery-3.7.1.min.js"
                        type="668adb910eb3b1270aa7f8c2-text/javascript"></script>

                    <script
                        src="https://preskool.dreamstechnologies.com/html/template/assets/js/bootstrap.bundle.min.js"
                        type="668adb910eb3b1270aa7f8c2-text/javascript"></script>

                    <script src="https://preskool.dreamstechnologies.com/html/template/assets/js/moment.js"
                        type="668adb910eb3b1270aa7f8c2-text/javascript"></script>
                    <script
                        src="https://preskool.dreamstechnologies.com/html/template/assets/plugins/daterangepicker/daterangepicker.js"
                        type="668adb910eb3b1270aa7f8c2-text/javascript"></script>

                    <script src="https://preskool.dreamstechnologies.com/html/template/assets/js/feather.min.js"
                        type="668adb910eb3b1270aa7f8c2-text/javascript"></script>

                    <script
                        src="https://preskool.dreamstechnologies.com/html/template/assets/js/jquery.slimscroll.min.js"
                        type="668adb910eb3b1270aa7f8c2-text/javascript"></script>

                    <script
                        src="https://preskool.dreamstechnologies.com/html/template/assets/js/bootstrap-datetimepicker.min.js"
                        type="668adb910eb3b1270aa7f8c2-text/javascript"></script>

                    <script
                        src="https://preskool.dreamstechnologies.com/html/template/assets/plugins/select2/js/select2.min.js"
                        type="668adb910eb3b1270aa7f8c2-text/javascript"></script>

                    <script
                        src="https://preskool.dreamstechnologies.com/html/template/assets/js/jquery.dataTables.min.js"
                        type="668adb910eb3b1270aa7f8c2-text/javascript"></script>
                    <script
                        src="https://preskool.dreamstechnologies.com/html/template/assets/js/dataTables.bootstrap5.min.js"
                        type="668adb910eb3b1270aa7f8c2-text/javascript"></script>

                    <script
                        src="https://preskool.dreamstechnologies.com/html/template/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"
                        type="668adb910eb3b1270aa7f8c2-text/javascript"></script>
                    <script
                        src="https://preskool.dreamstechnologies.com/html/template/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"
                        type="668adb910eb3b1270aa7f8c2-text/javascript"></script>

                    <script src="https://preskool.dreamstechnologies.com/html/template/assets/js/script.js"
                        type="668adb910eb3b1270aa7f8c2-text/javascript"></script>
                    <script
                        src="https://preskool.dreamstechnologies.com/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js"
                        data-cf-settings="668adb910eb3b1270aa7f8c2-|49" defer></script>
                    </body>

                    <!-- Mirrored from preskool.dreamstechnologies.com/html/template/student-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 18 Sep 2024 04:06:32 GMT -->
                  

                    </html>