{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}


{% block css %}

	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">
	<!-- Sweet Alert css-->
	<link href="{% static 'dashboard/assets/libs/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css"/>
	<!--Swiper slider css-->
	<link href="{% static 'dashboard/assets/libs/swiper/swiper-bundle.min.css' %}" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


{% endblock css %}

{% block style %}
	<style>
        .form-group {
            margin-top: 1rem;
        }
		#alert-box-top-right {
        position: absolute;
        top: 5%;
        right: 5%;
        transform: translate(5%, -5%);
    }
    .border-red {
        border: 1px solid #ff0000;
    }
    
    
	</style>
{% endblock style %}


{% block content %}

	<div class="page-content">
		<div class="container-fluid">
			<div class="pt-3 mb-4 mb-lg-2 pb-lg-3">
				<div class="row g-4" style="align-content: center; align-items: center;">
						<div class="col-xl-14">
							<div class="card crm-widget">
								<div class="card-body p-0">
									<div class="row row-cols-md-3 row-cols-1">
										<div class="col col-lg border-end">
											<div class="py-4 px-3">
												<h5 class="text-muted text-uppercase fs-13">Total Number of Orders 
													{% if total_number_orders >= 1 %}
													<i class="ri-arrow-up-circle-line text-success fs-18 float-end align-middle"></i>
													{% else %}
													<i class="ri-arrow-down-circle-line text-danger fs-18 float-end align-middle"></i>
													{% endif %}
												</h5>
												<div class="d-flex align-items-center">
													<div class="flex-shrink-0">
														<i class="ri-shopping-cart-line display-6 text-muted"></i>

													</div>
													<div class="flex-grow-1 ms-3">
														<h2 class="mb-0"><span class="counter-value" data-target="{{ total_number_orders }}">{{ total_number_orders }}</span></h2>
													</div>
												</div>
											</div>
											
											
										</div>
										<div class="col col-lg border-end">
											<div class="py-4 px-3">
												<h5 class="text-muted text-uppercase fs-13">Total Due Amount 
													{% if total_due_amount > 100 %}
													<i class="ri-arrow-up-circle-line text-danger fs-18 float-end align-middle"></i>
														
													{% elif total_due_amount < 100 %}
													<i class="ri-arrow-down-circle-line text-success fs-18 float-end align-middle"></i>
													{% endif %}
												</h5>
												<div class="d-flex align-items-center">
													<div class="flex-shrink-0">
														<i class="ri-exchange-dollar-line display-6 text-muted"></i>
													</div>
													<div class="flex-grow-1 ms-3">
														<h2 class="mb-0"><span class="counter-value" data-target="{{ total_due_amount }}">{{ total_due_amount }}</span> AED</h2>
													</div>
												</div>
											</div>
										</div>
										
										<div class="col col-lg border-end">
											<div class="mt-3 mt-md-0 py-4 px-3">
												<h5 class="text-muted text-uppercase fs-13"> LTV
													{% if total_ltv is not None %}
														{% if total_ltv > 2 %}
															<i class="ri-arrow-up-circle-line text-success fs-18 float-end align-middle"></i>
														{% else %}
															<i class="ri-arrow-down-circle-line text-danger fs-18 float-end align-middle"></i>
														{% endif %}
													{% endif %}
												</h5>
												
												<div class="d-flex align-items-center">
													<div class="flex-shrink-0">
														<i class="ri-line-chart-line display-6 text-muted"></i>

													</div>
													<div class="flex-grow-1 ms-3">
														<h2 class="mb-0"><span class="counter-value" data-target="{{ total_ltv }}">{{ total_ltv }}</span></h2>
													</div>
												</div>
											</div>
										</div>
										
										<div class="col col-lg border-end">
											<div class="mt-3 mt-lg-0 py-4 px-3">
												<h5 class="text-muted text-uppercase fs-13">Total Return Jar
													{% if total_return_jar is not None and total_return_jar >= 2 %}
														<i class="ri-arrow-up-circle-line text-danger fs-18 float-end align-middle"></i>
													{% else %}
														<i class="ri-arrow-up-circle-line text-muted fs-18 float-end align-middle"></i>
													{% endif %}
												</h5>
												<div class="d-flex align-items-center">
													<div class="flex-shrink-0">
														<i class="ri-drop-line display-6 text-muted"></i>
													</div>
													<div class="flex-grow-1 ms-3">
														<h2 class="mb-0"><span class="counter-value" data-target="{{ total_return_jar|default_if_none:"0" }}">{{ total_return_jar|default_if_none:"0" }}</span></h2>
													</div>
												</div>
											</div>
										</div>
										
										<div class="col col-lg">
											<div class="mt-3 mt-lg-0 py-4 px-3">
												<h5 class="text-muted text-uppercase fs-13">average order days<i class="ri-arrow-down-circle-line text-danger fs-18 float-end align-middle"></i>
												</h5>
												<div class="d-flex align-items-center">
													<div class="flex-shrink-0">
														<i class="ri-calendar-line display-6 text-muted"></i>
													</div>
													<div class="flex-grow-1 ms-3">
														<h2 class="mb-0"><span class="counter-value" data-target="{{average_order_time}}">{{average_order_time}}</span></h2>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							 <!-- <div class="d-flex justify-content-end">
									{#<a href="{% url 'dashboard-address-full-view-customer' customer.id %}" class="btn#}
									{#d-inline-block btn-success">#}
									{#<i class="mdi mdi-eye fs-16"></i>#}
									{% comment %} <a
											class="btn d-inline-block btn-success" href="#"
									>
										<i class="mdi mdi-plus-thick me-2"></i> Create Order
									</a> {% endcomment %}
									<a
											href=""
											class="btn d-inline-block btn-info"
									>
										<i class="mdi mdi-eye fs-16"></i>
										View Orders</a> -->
									 
								
	
							<!-- </div> -->
						</div>
				

				</div>

		<!-- CARD START -->
		
					<!-- CARD END -->
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<div>
						<!--  -->
						<!-- Tab panes -->
						<div class="tab-content pt-4 text-muted">
							<div class="tab-pane active" id="overview-tab" role="tabpanel">
								<div class="row">
									<div class="col-4">
										<div class="card">
											<div class="card-body">
												<div class="d-flex justify-content-between mb-3">
													
												<a href=""
													class="btn btn-soft-success">
													<i class="mdi mdi-eye fs-16"></i>
													View Orders
											   </a> 
											   <a href="" 
												  data-value="{{ sub.id }}" 
												  class="btn btn-soft-success"
												  >
												  <i class="fas fa-edit"></i> Edit Customer
											   </a>
											   
													
												</div>
												<h5 class="card-title mb-3  ">Info</h5>
										
												<div class="table-responsive">
													<table class="table table-borderless mb-0 table-sm ">
														<tbody>
															<tr>
																<th class="ps-0 text-uppercase" scope="row">#</th>
																<td class="text-muted">{{ customer.id }}</td>
															</tr>
															<tr>
																<th class="ps-0 text-uppercase" scope="row">Full Name</th>
																<td class="text-muted">{{ customer.name }}</td>
															</tr>
															<tr>
																<th class="ps-0 text-uppercase" scope="row">Phone</th>
																<td class="text-muted">{{ customer.phone_number }}</td>
															</tr>
															
															<tr>
																<th class="ps-0 text-uppercase" scope="row">Email</th>
																<td class="text-muted">{{ customer.email }}</td>
															</tr>
															<tr>
																<th class="ps-0 text-uppercase" scope="row">Created</th>
																<td class="text-muted">{{ customer.created }}</td>
															</tr>
														</tbody>
													</table>
													<div class="d-flex justify-content-end mb-3">
														<div class="d-flex justify-content-end mb-3">
															<!-- <a  class="text-danger d-inline-block deleteConfirmModalClass" 
															data-bs-toggle="modal" 
															data-bs-target="#deleteConfirmModal" 
															data-value="{{ customer.id }}" 
															data-bs-toggle="tooltip" 
															data-bs-trigger="hover" 
															data-bs-placement="top" 
															title="Remove">
															<i class="mdi mdi-delete fs-16"></i>
															</a> -->


															
														</div>
													


													</div>
													
												</div>
											</div>
										</div>
										
										<!-- end card -->
										<div class="card">
											<div
													class="card-header" style="
                                                display: flex;align-content: center;justify-content: space-between;
                                                align-items: center;"
											>
												<h5 class="card-title mb-0">Address</h5>
												<a
														href="#"
														class="text-primary text-decoration-none"
												>
													<!-- <i class="mdi mdi-eye"></i>&nbsp;View all -->
												</a>
											</div>
											<div class="card-body">
												{% if default_address != None %}
													<div class="card bg-soft-light">
														<div class="card-body">
															<div class="table-responsive">
																<table class="table table-sm">
																	<tr>
																		<th class="text-uppercase">name</th>
																		<td>{{ default_address.address.name }}</td>
																	</tr>
																	<tr>
																		<th class="text-uppercase">residence type</th>
																		<td>
																			{{ default_address.address.get_residence_type_display }}
																		</td>
																	</tr>
																	{% if default_address.address.residence_type == 1 %}
																		<tr>
																			<th class="text-uppercase">lift available
																			</th>
																			<td>
																				{% if default_address.address.lift_available %}
																					Yes
																				{% else %}
																					No
																				{% endif %}
																			</td>
																		</tr>
																		<tr>
																			<th class="text-uppercase">floor number</th>
																			<td>{{ default_address.address.floor_number }}</td>
																		</tr>
																	{% endif %}
																	<tr>
																		<th class="text-uppercase">house number</th>
																		<td>{{ default_address.address.house_number }}</td>
																	</tr>
																	<tr>
																		<th class="text-uppercase">address line</th>
																		<td>{{ default_address.address.address_line }}</td>
																	</tr>
																	<tr>
																		<th class="text-uppercase">landmark</th>
																		<td>{{ default_address.address.landmark }}</td>
																	</tr>
																	<tr>
																		<th class="text-uppercase">locality</th>
																		<td>{{ default_address.address.locality }}</td>
																	</tr>
																	<tr>
																		<th class="text-uppercase">ZIPCODE</th>
																		<td>{{ default_address.address.zip_code }}</td>
																	</tr>
																	
																	{% comment %} <tr>
																		<th class="text-uppercase">Save as</th>
																		<td>{{ default_address.address.get_save_as_display }}</td>
																	</tr> {% endcomment %}
																	{% comment %} <tr>
																		<th class="text-uppercase">Other(Save as)</th>
																		<td>
																			{% if default_address.address.save_as == 3 %}
																				{{ default_address.address.others }}
																			{% else %}
																				Nil
																			{% endif %}
																		</td>
																	</tr> {% endcomment %}
																	{% comment %} <tr>
																		<th class="text-uppercase">Areas</th>
																		<td>
																			{% if areas %}
																				<a
																						href="{% url 'dashboard-fetch-whole-area-map' default_address.address.id %}"
																						class="btn btn-sm btn-outline-primary">View
																				                                               Map</a>
																			{% else %}
																				<p class="text-muted">No Maps!</p>
																			{% endif %}
																		</td>
																	</tr> {% endcomment %}

																</table>
															</div>
														</div>
													</div>
												{% else %}
													<div class="card">
														<div class="card-body">
															<h5>Nil</h5>
														</div>
													</div>
												{% endif %}
											</div><!-- end card body -->
										</div>
										
									</div>
									
									<!--end col-->
									<div class="col-8">
										<div class="card">
											<div class="card-header d-flex justify-content-between">
												<h5
														class="card-title m-0 d-flex align-middle align-items-center
                                                align-content-center">
													Subscribed Cource</h5>
												<a href="">
													<button class="btn btn-soft-success">
														<i class="mdi mdi-plus-thick"></i> Add Subscription
													</button>
												</a>
												
											</div>
											<div class="card-body">
												<table class="table w-100 dataTableClass table-sm" id="userJarDatatable">
													<thead>
														<tr>
															<th class="bg-light align-middle text-uppercase">id</th>
															<th class="bg-light align-middle text-uppercase" style="min-width: 150px;">address</th>
															<th class="bg-light align-middle text-uppercase">product</th>
															<th class="bg-light align-middle text-uppercase">Jar Amount</th>	
															<th class="bg-light align-middle text-uppercase">last delivery time</th>
															<th class="bg-light align-middle text-uppercase"> created</th>
															<th class="bg-light align-middle text-uppercase">action</th>
														</tr>
													</thead>
													<tbody>
														{% for sub in water_subs %}
														<tr>
															<td class="align-middle">{{ sub.id }}</td>
															<td class="align-middle">
																{{ sub.address.house_number }},
																{{ sub.address.locality }},
																{{ sub.address.address_line }} <br> {{ sub.get_residence_type_display }} 
															</td>
															<td class="align-middle">
																{% if subscription_products %}
																<table class="w-100">
																	{% comment %} {% for product in subscription_products %} {% endcomment %}
																	<tr>
																		<td colspan="2">{{ subscription_products.product.name }}</td>
																	</tr>
																	<tr>
																		<td><span class="badge bg-primary" style="font-size:12px;">Total jars: {{ subscription_products.quantity }} </span>
																		<span class="badge bg-danger" style="font-size:12px;">Return jars: {{ sub.jars_to_be_returned }}</span></td>
																	</tr>
																	{% if not forloop.last %}
																	<tr>
																		<td colspan="2"><hr></td>
																	</tr>
																	{% endif %}
																	{% comment %} {% endfor %} {% endcomment %}
																</table>
																{% else %}
																<p>No products associated</p>
																{% endif %}
															</td>
															<td class="align-middle">{{ subscription_products.selling_price }}</td>
															
															<td class="align-middle">{{ sub.last_delivery_time }}</td>
															<td class="align-middle">{{ sub.created }}</td>
															<td class="align-middle">
																<a href="{% url 'dashboard-customer-update-subscription' sub.id %}" class="d-inline-block btn-update custom-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
																	<i class="mdi mdi-pencil"></i>
																</a>
																<a href="" class="text-danger d-inline-block deleteConfirmModalClass" 
																	data-bs-toggle="modal" 
																	data-bs-target="#deleteConfirmModal" 
																	data-delete-url="{% url 'dashboard-customer-delete-subscription' sub.id %}" 
																	data-value="{{ sub.id }}" 
																	data-bs-toggle="tooltip" 
																	data-bs-trigger="hover" 
																	data-bs-placement="top" 
																	title="Remove">
																	<i class="mdi mdi-delete fs-16"></i>
																</a>

																
															</td>
														</tr>
														{% endfor %}
													</tbody>
												</table>
												
												
												
											</div>
										</div>
										


										<div class="card">
											<div class="card-header d-flex justify-content-between">
												<h5
														class="card-title m-0 d-flex align-middle align-items-center align-content-center"
												>
													 Coupon Booklets</h5>
													<a href="" class="btn btn-soft-success">
														<i class="mdi mdi-plus-thick"></i> Add  Coupon Booklet
													</a>
											</div>
											<div class="card-body">
												<table
														class="table w-100 dataTableClass table-sm"
														id="userVoucherDatatable"
												>
													<thead>
													<tr class="bg-light text-uppercase">
														<th class="align-middle">price</th>
														<th class="align-middle">salesman</th>
														<th class="align-middle">coupon booklet</th>
														<th class="align-middle">created</th>
														<th>Action</th>
													</tr>
													</thead>
													{% for coupon in customer_coupons %}
														<tr>
															<td class="align-middle">
																{{ coupon.price }}
															</td>
															<td>{{ coupon.salesman.name }}</td>
															<td>{{ coupon.coupon_booklet.booklet_type.title }}</td>
															<td>{{coupon.created}}</td>
															<td class="align-middle">
																<a href="{% url 'dashboard-customer-coupon-manager' coupon.id %}"
																	class="btn btn-primary btn-sm">
																	<i class="mdi mdi-eye fs-16"></i> Details
																</a>
															</td>
														</tr>
													{% endfor %}
													
												</table>
											</div>
										</div>
									</div>
								</div>
								<!--end row-->

							</div>
						</div>
						<!--end tab-content-->
					</div>
				</div>
				<!--end col-->
			</div>
			<!--end row-->

			<!-- Customer Coupon Modal-->

			

			
			{% include "dashboard/includes/modals/delete.html" with title1="" title2="" %}
			{% include "dashboard/includes/modals/delete.html" with title1="this Customer" title2="customer" %}

		</div><!-- container-fluid -->
	</div>


{% endblock content %}

{% block js %}

	<script src="{% static 'dashboard/assets/libs/sweetalert2/sweetalert2.min.js' %}"></script>
	<script src="{% static 'dashboard/assets/libs/apexcharts/apexcharts.min.js' %}"></script>
	<script src="{% static 'dashboard/assets/js/pages/modal.init.js' %}"></script>

{% endblock js %}

{% block script %}




<script>$(document).ready(function() {
    $('.dataTableClass').DataTable({
        "lengthMenu": [
            [25, 50, 100],
            [25, 50, 100]
        ],
        "pageLength": 25,
        "responsive": true,
        "scrollX": true,
        "scrollY": "25vh",
        "scrollCollapse": true,
        "ordering": true,
    });

    $('.dataTableClass').on('click', '.deleteConfirmModalClass', function (e) {
        e.preventDefault();
        var deleteUrl = $(this).data('delete-url'); 
        var record_id = $(this).data('value');
        var recordType = $(this).data('record-type'); 

        console.log("Clicked to delete " + recordType + " with ID: " + record_id);

        $('#delete-record').data('delete-url', deleteUrl);
        $('#delete-record').data('value', record_id);
        $('#delete-record').data('record-type', recordType);
        $('#deleteConfirmModal').modal('show');
    });

    $('#delete-record').click(function (e) {
        e.preventDefault(); 

        var record_id = $(this).data('value');
        var deleteUrl = $(this).data('delete-url');
        var recordType = $(this).data('record-type');

        console.log("Deleting " + recordType + " with ID: " + record_id);

        $.ajax({
            url: deleteUrl,
            type: 'POST',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function (data) {
                console.log(recordType + " deleted successfully");
                if (recordType === 'customer') {
                    window.location.href = "";
                } else {
                    window.location.reload();
                }
            },
            error: function(xhr, status, error) {
                console.error("Error deleting " + recordType + ":", error);
            }
        });
    });
});

</script>

<script>
    $(document).ready(function () {
        $('.noty-tost').click();
    });
</script>



{% endblock script %}
